.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: center;
	width: 100%;			
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	display: none;
}
.bx-wrapper .bx-viewport {
	border: 0px; 
}
.checkSettingUl {
	text-align: left;
}
.textSpanClass { 
	margin-left: 5px;
}
.chkRadio {
	margin-left: 5px;
	border : 0px; 
	width : 13px; 
	height : 13px;	
}
.guganChkTr {
	display:none;
}

ul.tab {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
}
ul.tab li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #C0C0C0;
	width:33.3%;
}
ul.tab li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	outline: none;
}
ul.tab li a:hover {
	background: #ccc;
}
html ul.tab li.active, html ul.tab li.active a:hover  {
	background: #EAEAEA;
}
#container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.bg{
	position: absolute; 
	top: 0;
	left: 0;  
	width: 100%; 
	height: 100%;
	background: #000;
	opacity: .5; 
	display:none;  
	z-index:1818;
}
.pop-layer{
	position: absolute;
	top: 2%;
	left: 5%;
	width: 90%;
	background-color: #fff;
	z-index: 100005;	
	display:none;
	border: 2px solid #2d2d2d;
}
.tdPtag {
	margin-left:10px;
}	
.setupInfoSubject {
	background-color:#f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align:left;
}
.setupInfoContent {
	padding : 20px 10px;
	background: #ffffff;
}
ul{
	list-style:none;
}
.confirmBtn{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
.musicList01 table tr:nth-child(even) td {
	background: #FFFFFF;	
}

.contentsTable { border-collapse:collapse; }  
.contentsTable th, .contentsTable td { border:1px solid #ababab; }	
.contentsTable th {background-color: #f9f9f9;}
.contentsTable td {line-height: 1.50em;padding: 15px 5px;}

.divPopup {
	display:none;
	z-index:9999;
	top: 10%;
	left: 10%;
	right: 10%;
	position: fixed;
	background-color: white;
}
.subjectText {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
} 
.termsContents {
	line-height: 1.5em;
} 

.termsContentsSub1 {
	padding-left: 10px;
}
.pop-layer-sms {display:none; position: absolute; top: 10%; left:10%; width: 80%; height:80%;  background-color:#fff; z-index: 10;} 

.phoneIn{
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.inputTag {
	height:30px;
}
.topText {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 0px;			
	text-align:center;
}
.centerTextLi {
	list-style: none;
	font-size: 20px;
	margin-bottom: 20px;
}
.menuSide{
	display:none;
}
.menuSide_on{
	position: absolute;
	top: 0;
	left: 0;	
	width: 70%;
	height: 100%;
	background-color: black;
	z-index:100022;
	display:block;
} 
.side{
	width:80%;
	margin-left:5%;

}
.sideTop{
	width:80%;
	margin:2%;
	
}
.home{
	width:80%;
	margin:2%;
	margin-top:5%;
}
.termsContentsSub3{
	padding-left:20px;
}
.bestMoreNone{
	display:none;
}
.newMoreNone{
	display:none;
}
.weekMoreNone{
	display:none;
}
.close{
	padding: 5px 20px 5px 5px;
	color: #7d7d7d;
	background: url('http://ringtoyou.olleh.com/images/player/btnLayerClose.gif') no-repeat right center;
	background-size: 15px;
}